.header{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 5;

    display: inline-flex;
    align-items: center;

    padding: 32px 0 20px 0;

    width: 100vw;

    background: #ffff;

    transition: .5s;
}

.is-sticky{
    padding: 0 0 0 0;
}

#toggleBurgerMenuIcon{
    display: none;
}

.icon{
    margin: 0 0 0 150px;
}


.navigation_items{
    margin-left: 320px;
}

.navigation_item{
    margin-right: 65px;
}

@media (max-width: 430px){

    .header{
        justify-content: space-between;
        margin: 0 4vw;
        width: 92vw;
    }

    .is-sticky{
        padding-top: 10px;
    }

    .navigation_items{
        position: fixed;
        top: 0;
        left: 100vw;

        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100vw;
        height: 100vh;

        background: #ffff;

        transition: .5s;
    }

    #ic_open_menu{
        display: block;
    }
    #ic_open_menu.open_menu{
        display: none;
    }

    #ic_close_menu{
        display: none;
    }
    #ic_close_menu.open_menu{
        display: block;
    }

    .navigation_items.open_menu{
        position: fixed;
        top: 0;
        left: 0;
    }

    .navigation_item:not(:first-child){
        margin-top: 30px;
    }

    .icon {
        margin: 0;
    }

    #toggleBurgerMenuIcon{
        display: block;

        position: relative;
        z-index: 5;
    }

}