

@media (max-width: 430px) {
    .navigation_items{
        display: none;
    }

    h2{
        margin: 50px  0 0 40px;
    }

    .laptop_image_wrapper{
        display: none;
    }

    .list{
        max-width: 665px;
        margin-left: 40px;
    }

    .screen_review{
        max-width: 80vw;
        margin-left: 40px;
        margin-top: 180px;
    }
}